<h1>Account#index</h1>

<% if flash[:notice] %>
  <%= flash[:notice] %><br/><br/>
<% end %>
<ul>
	<% @accounts.each do |account|%>
	<li><%= link_to "#{account.Name}", account%> (<%=link_to "Edit", edit_account_path(account) %>)</li>
	<%end%>
</ul>
